body{
    font-family: verdana;
    font-size: 14px;
    padding: 10px;
}
input{
    height: 32px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: #8e8e8e;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
}

select{
    height: 36px;
    border: 1px solid #8e8e8e;
}

input:focus{
    box-shadow: 0;
    outline: 0;
}

button{
    height: 36px;
}

#msgs{
    border: 2px solid red;
    background-color: #FBEFEF;
    padding: 5px;
    color: #B40404;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    display: none;
}

.flex{
    display: flex;
}

#ex4 ul{
    list-style: lower-alpha;
}

input{
    margin-right: 5px;
}

header>div{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 2px solid #dedede;
}